* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*
.hero {
  width: 100%;
  height: 100vh;
  background: url(https://hdqwalls.com/download/mountain-nature-night-road-4k-t2-2560x1440.jpg) center center;
  background-size: cover;
}


*/
@media only screen and (max-width: 600px) {
  .hero {
    height: 50vh;
  }
}


.nav {
  padding: 20px 0;
  background-color: black;
}

.nav-logo-link:link, .nav-logo-link:visited {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
}

 .nav-logo a {
    overflow-x: hidden;
    position: relative;
    transition: .25s ease all;
    line-height: 45px;
}

.nav-logo  a:after {
    content: " ";
    position: absolute;
    display: block;
    bottom: 1;
    padding: 1px;
    left: -108%;
    height: 5px;
    width: 100%;
    background: red;
    transition: .5s ease all;
}

.nav-logo a:hover:after {
    left: 0;
}


.nav-menu {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
@media only screen and (max-width: 600px) {
  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    flex-direction: column;
    width: 200px;
    height: 110vh;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100%);
    transition: all .1s ease;
  }
}

@media only screen and (max-width: 1600px) {
  .nav-menu.open {
    transform: translateX(0);
  }
}

.nav-menu-link:link, .nav-menu-link:visited {
  text-decoration: none;
  color: white;
  transition: all .1s ease;
  font-size: 18px;
}

.nav-burger {
  display: none;
}
@media only screen and (max-width: 600px) {
  .nav-burger {
    display: block;
  }
}

 .nav-menu a {
    overflow-x: hidden;
    position: relative;
    transition: .25s ease all;
    line-height: 45px;
}

.nav-menu a:after {
    content: " ";
    position: absolute;
    display: block;
    bottom: 0;
    left: -100%;
    height: 5px;
    width: 100%;
    background: red;
    transition: .5s ease all;
}

.nav-menu a:hover:after {
    left: 0;
}

/*
.nav-menu a:hover {
  color: #e74c3c;transform: translateY(0px);
    border-bottom: 1px solid red;

}

*/

.nav-burger-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.nav-burger-item, .nav-burger-item::after, .nav-burger-item::before {
  display: block;
  height: 2px;
  width: 30px;
  background-color: white;
}

.nav-burger-item {
  position: relative;
  transition: all .1s ease;
}

.nav-burger-item::after, .nav-burger-item::before {
  content: '';
  position: absolute;
  left: 0;
  transition: all .2s ease;
}

.nav-burger-item::after {
  top: 7px;
}

.nav-burger-item::before {
  top: -7px;
}

.closed .nav-burger-item::after, .closed .nav-burger-item::before {
  top: 0;
}
.closed .nav-burger-item {
  background-color: transparent;
}
.closed .nav-burger-item::after {
  transform: rotate(135deg);
}
.closed .nav-burger-item::before {
  transform: rotate(-135deg);
}





body {
  font-family: Verdana, sans-serif;
  margin: 0;
    background-color: black;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top:45px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
  background-color: cornsilk;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: darkseagreen;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: darkseagreen;
  position: absolute;
  top: 1px;
  right: 25px;
  font-size: 30px;
  font-weight: bolder;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


a{
color: blue;
}


.responsive {
  width: 100%;
  height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;

}




.footer {
   left: 0;
   bottom: 0;
   width: 100%;
    height: 5%;
    padding: 20px;
   background-color: black;
   color: white;
   text-align: center;
}


.title{
    
    font-size: 50px;
    margin-bottom: 50px;
    color: white;
}

h1{
    color: white;
}
p{
    color: white;
}
