/* This is the CSS page for the home page.  */



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
background-color: black;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .hero {
    height: 50vh;
  }
}


.nav {
  padding: 20px 0;
  background-color: black;
}

.nav-logo-link:link, .nav-logo-link:visited {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
}

 .nav-logo a {
    overflow-x: hidden;
    position: relative;
    transition: .25s ease all;
    line-height: 45px;
}

.nav-logo  a:after {
    content: " ";
    position: absolute;
    display: flex;
    bottom: 1;
    padding: 1px;
    left: -200%;
    height: 5px;
    width: 100%;
    background: red;
    transition: .5s ease all;
}

.nav-logo a:hover:after {
    left: 0;
}


.nav-menu {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
@media only screen and (max-width: 600px) {
  .nav-menu {
    position: fixed;
    top: 0;

    right: 0;
    background-color: black;
    flex-direction: column;
    width: 200px;
    height: 110vh;
      overflow-y: scroll;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100%);
    transition: all .1s ease;
  }
}

@media only screen and (max-width: 1600px) {
  .nav-menu.open {
    transform: translateX(0);
  }
}

.nav-menu-link:link, .nav-menu-link:visited {
  text-decoration: none;
  color: white;
  transition: all .1s ease;
  font-size: 18px;
}

.nav-burger {
  display: none;
}
@media only screen and (max-width: 600px) {
  .nav-burger {
    display: block;
  }
}

 .nav-menu a {
    overflow-x: hidden;
    position: relative;
    transition: .25s ease all;
    line-height: 45px;
}

.nav-menu a:after {
    content: " ";
    position: absolute;
    display: block;
    bottom: 0;
    left: -100%;
    height: 5px;
    width: 100%;
    background: red;
    transition: .5s ease all;
}

.nav-menu a:hover:after {
    left: 0;
}


.nav-burger-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.nav-burger-item, .nav-burger-item::after, .nav-burger-item::before {
  display: block;
  height: 2px;
  width: 30px;
  background-color: white;
}

.nav-burger-item {
  position: relative;
  transition: all .1s ease;
}

.nav-burger-item::after, .nav-burger-item::before {
  content: '';
  position: absolute;
  left: 0;
  transition: all .2s ease;
}

.nav-burger-item::after {
  top: 7px;
}

.nav-burger-item::before {
  top: -7px;
}

.closed .nav-burger-item::after, .closed .nav-burger-item::before {
  top: 0;
}
.closed .nav-burger-item {
  background-color: transparent;
}
.closed .nav-burger-item::after {
  transform: rotate(135deg);
}
.closed .nav-burger-item::before {
  transform: rotate(-135deg);
}





body {
  font-family: Verdana, sans-serif;
  margin: 0;
    background-color: black;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top:45px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
  background-color: cornsilk;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: darkseagreen;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: darkseagreen;
  position: absolute;
  top: 1px;
  right: 25px;
  font-size: 30px;
  font-weight: bolder;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


a{
color: blue;
}


.responsive {
  width: 100%;
  height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
    border-radius: 50px;

}


/*

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
    height: 5%;
    padding: 20px;
   background-color: black;
   color: white;
   text-align: center;
}

*/


h1{
    color: white;
}
p{
    color: white;
}



/* For the block quote */
blockquote{
  font-size: 1.5em;
  width:100%;
  font-family:Open Sans;
  font-style:italic;
  color: white;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid red ;
  line-height:1.6;
  position: inherit;
  background: black;
  text-align: justify;

}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:black;
  font-size:4em;
  left: 25px;
margin-top: -50px;
  
  position: absolute;

  width: 30px; 
  height: 30px;
 
  transition:all .4s;

}

blockquote:hover:before{
  color:white;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:white;
  font-style: normal;
  margin-top:1em;
    font-family:Open Sans;
  font-style:italic;
    font-weight: bold;

}






/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: black;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
font-weight: bolder;

  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: white;
  font-size: 10px;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}


@media only screen and (max-width: 600px) {
  /* For the block quote */
blockquote{
  font-size: 1em;
  width:100%;
  font-family:Open Sans;
  font-style:italic;
  color: white;
  padding:1.2em 30px 1.2em 50px;
  border-left:8px solid red ;
  line-height:1.6;
  position: inherit;
        text-align: start;

  background: black;
}
blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:black;
  font-size:5em;
  left: 25px;
margin-top: -50px;
  
  position: absolute;

  width: 30px; 
  height: 30px;
 
  transition:all .4s;

}

blockquote:hover:before{
  color:white;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:white;
  font-style: normal;
  margin-top:1em;
}


}




.footer-distributed {
  background-color: #000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 5px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}



/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 40%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;

}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


.footer-icons a:hover{
    color: red;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }

    /* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }

    
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}


    
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}


li{
    color: white;
    list-style: none;
}

a{
    color: white;
text-decoration: none;
}

a:hover {
  color: red;
   

}

h5{
    color: white
}

a.design: hover{
    color: red;
}
